* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}


/* ===LAYOUT=== */
.container {
    padding: 20px;
}

/* header */


header {
    display: flex;
    justify-content: space-between;
}


.header-left {
    display: flex;
}

.header__logo {
    margin-right: 20px;
}

.header-nav {
    min-width: 25vw;
    display: flex;
    justify-content: space-between;
}

.header-right {
    display: flex;
    flex-direction: column;
}

/* cta */

main {
    display: flex;
    flex-direction: column;
}

.cta {
    border: 1px solid red;
    max-width: 45vw;
    margin-top: 10vh;
}

/* tours */

.tours {
    margin-top: 15vh;
}

.tours__container {
    display: flex;
    margin-top: 10px;
}

.tour {
    display: flex;
}

/* news */

.news {
    margin-top: 8vh;
}


.news__container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.news__item {
    width: 45vw;
    height: 20vh;
    margin-top: 50px;
}

/* paginator */

.paginator {
    margin-top: 20px;
    display: flex;
    margin: 0 auto;
}

.paginator ul {
    list-style-type: none;
    display: flex;
    margin-left: 20px;
}

.paginator ul li {
    margin: 0 3px;
}

/* about us */


/* footer */



footer {
    display: flex;
    justify-content: space-between;
    margin-top:50px;
}


.footer-left {
    display: flex;
}

.footer__logo {
    margin-right: 20px;
}

.footer-nav {
    min-width: 25vw;
    display: flex;
    justify-content: space-between;
}

.footer-right {
    display: flex;
    flex-direction: column;
}
